@import "../../../assets/styles/variables";

:host {
  width: $game-box-size + $game-box-indent * 2;
  height: $game-box-size + $game-box-indent * 2;
  background-color: $game-box-background-color;
  position: relative;
  border-radius: $radius;
}
