@import "../../../assets/styles/variables";

:host {
  width: $game-box-size + $game-box-indent * 2;
  height: $game-box-size + $game-box-indent * 2;
  background-color: $game-box-background-color;
  position: relative;
  border-radius: $radius;

  .counter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 56px;
    height: 56px;
    font-size: 64px;
    color: $counter-color;
  }
}
