<h1 class="heading">Retro Pong</h1>
<button class="music-button" (click)="toggleMusic()">
  <img width="21" height="21" [hidden]="isMusicPlaying" src="../../../assets/images/play_icon.png" alt="Play music">
  <img width="21" height="21" [hidden]="!isMusicPlaying" src="../../../assets/images/stop_icon.png" alt="Stop music">
</button>
<a class="github-link" href="https://github.com/pdronenko/retro-pong" target='_blank'>
  <i class="nes-icon github"></i>
</a>
<nav class="player-status-wrapper">
  <pong-player-bar *ngIf="playerLeft$ | async as player" [disabled]="playing" class="left" [player]="player"
                   [isActive]="playingSide === player.side" (startGame)="startGame($event)"></pong-player-bar>
  <pong-player-bar *ngIf="playerBottom$ | async as player" [disabled]="playing" class="bottom" [player]="player"
                   [isActive]="playingSide === player.side" (startGame)="startGame($event)"></pong-player-bar>
  <pong-player-bar *ngIf="playerTop$ | async as player" [disabled]="playing" class="top" [player]="player"
                   [isActive]="playingSide === player.side" (startGame)="startGame($event)"></pong-player-bar>
  <pong-player-bar *ngIf="playerRight$ | async as player" [disabled]="playing" class="right" [player]="player"
                   [isActive]="playingSide === player.side" (startGame)="startGame($event)"></pong-player-bar>
</nav>
