$player-indent: 10px;
$player-idle-width: 560px;
$player-height: 10px;
$player-animation-duration: 100ms;
$player-color-1: grey;
$player-color-2: green;
$player-color-3: red;
$player-color-4: yellow;
$paddle-radius: 0px;

$ball-diameter: 20px;
$ball-color: white;
$ball-indent: $ball-diameter / 2;

$radius: 0px;

$game-box-indent: $ball-diameter;
$game-box-size: 600px;
$game-box-background-color: #220c32;

$game-surround-background: #21006f;
