@import "../../../../assets/styles/variables";

:host {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    border-right: 2px solid $dark;
  }

  .player-color {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 2px solid $dark;
  }

  &.bottom .player-color {
    background-color: $player-color-1;
  }

  &.right .player-color {
    background-color: $player-color-2;
  }

  &.top .player-color {
    background-color: $player-color-3;
  }

  &.left .player-color {
    background-color: $player-color-4;
  }

  .player-name {
    font-size: 10px;
    margin: 0;
    padding: 6px;
    border: 2px solid transparent;

    &.active {
      border: 2px solid $dark;
    }
  }
}
