@import "../../../../assets/styles/variables";

:host {
  background-color: $ball-color;
  height: $ball-diameter;
  width: $ball-diameter;
  display: block;
  position: absolute;
  left: $ball-indent;
  bottom: $ball-indent;
  transform-origin: center center;
  will-change: transform, opacity;
  transition-property: transform;
  transition-timing-function: linear;
  border-radius: 50%;
  opacity: 1;

  &.transparent {
    opacity: 0;
  }
}
